<hr style="border:5px solid #108999"> </hr>

# Must Know Python Tools <hr style="border:4.5px solid #108999"> </hr>

## Iterating Over Range Objects, <br><br> Nested For Loops - Introduction, <br><br> Triple Nested For Loops

Create a 'range' object with a stop value of 10. 
Do this operation twice - once without indicating a start value, and then by indicating the start value of 0.

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Turn this 'range' object into a list of values.

In [4]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Obtain all integers from 0 to 9 again, this time using a for-loop with a range() function. Let Python display the values in the output vertically.

In [6]:
for n in range(0,10):
    print(n)

0
1
2
3
4
5
6
7
8
9

Repeat the same task, this time printing the values from the output on the same line.

In [7]:
print([i for i in range(1, 11)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Create a nested loop that delivers all possible combinations of the elements from the following two lists in the form of lists:

In [12]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]

In [22]:
#print([[products, sales] for products in products_on_sale for sales in sale_prices])
for products in products_on_sale:
    for sales in sale_prices:
        print([products, sales])

['Chair_Type_1', 100]
['Chair_Type_1', 120]
['Chair_Type_1', 135]
['Chair_Type_1', 150]
['Chair_Type_2', 100]
['Chair_Type_2', 120]
['Chair_Type_2', 135]
['Chair_Type_2', 150]
['Chair_Type_3', 100]
['Chair_Type_3', 120]
['Chair_Type_3', 135]
['Chair_Type_3', 150]
['Chair_Type_4', 100]
['Chair_Type_4', 120]
['Chair_Type_4', 135]
['Chair_Type_4', 150]

Consider the following list with data, which is our third for this exercise. It represents the possible quantities in which the relevant items can be put on sale.

In [23]:
quantities = [1000, 1500, 1300]

Create a triple nested loop that shows the potential revenue generated from each chair type. Use iterator variables with more meaningful names than letters such as i, j, k.
<br>Present two versions of the nested loop. Let the first one return a Python list where the chair type is the first element, while the potential revenue is the second element. 
<br>Then, let the second loop return a more presentable output, where the quantity and potential revenue have been explicitly stated.

In [24]:
for products in products_on_sale:
    for sales in sale_prices:
        for quantity in quantities:
            print([products, sales*quantity])

['Chair_Type_1', 100000]
['Chair_Type_1', 150000]
['Chair_Type_1', 130000]
['Chair_Type_1', 120000]
['Chair_Type_1', 180000]
['Chair_Type_1', 156000]
['Chair_Type_1', 135000]
['Chair_Type_1', 202500]
['Chair_Type_1', 175500]
['Chair_Type_1', 150000]
['Chair_Type_1', 225000]
['Chair_Type_1', 195000]
['Chair_Type_2', 100000]
['Chair_Type_2', 150000]
['Chair_Type_2', 130000]
['Chair_Type_2', 120000]
['Chair_Type_2', 180000]
['Chair_Type_2', 156000]
['Chair_Type_2', 135000]
['Chair_Type_2', 202500]
['Chair_Type_2', 175500]
['Chair_Type_2', 150000]
['Chair_Type_2', 225000]
['Chair_Type_2', 195000]
['Chair_Type_3', 100000]
['Chair_Type_3', 150000]
['Chair_Type_3', 130000]
['Chair_Type_3', 120000]
['Chair_Type_3', 180000]
['Chair_Type_3', 156000]
['Chair_Type_3', 135000]
['Chair_Type_3', 202500]
['Chair_Type_3', 175500]
['Chair_Type_3', 150000]
['Chair_Type_3', 225000]
['Chair_Type_3', 195000]
['Chair_Type_4', 100000]
['Chair_Type_4', 150000]
['Chair_Type_4', 130000]
['Chair_Type_4', 120000]
['Chair_Type_4', 180000]
['Chair_Type_4', 156000]
['Chair_Type_4', 135000]
['Chair_Type_4', 202500]
['Chair_Type_4', 175500]
['Chair_Type_4', 150000]
['Chair_Type_4', 225000]
['Chair_Type_4', 195000]

In [31]:
for products in products_on_sale:
    for sales in sale_prices:
        for quantity in quantities:
            print('Expected sales for a quantity of {} for {} products:${}'.format(quantity, products, sales))

Expected sales for a quantity of 1000 for Chair_Type_1 products:$100
Expected sales for a quantity of 1500 for Chair_Type_1 products:$100
Expected sales for a quantity of 1300 for Chair_Type_1 products:$100
Expected sales for a quantity of 1000 for Chair_Type_1 products:$120
Expected sales for a quantity of 1500 for Chair_Type_1 products:$120
Expected sales for a quantity of 1300 for Chair_Type_1 products:$120
Expected sales for a quantity of 1000 for Chair_Type_1 products:$135
Expected sales for a quantity of 1500 for Chair_Type_1 products:$135
Expected sales for a quantity of 1300 for Chair_Type_1 products:$135
Expected sales for a quantity of 1000 for Chair_Type_1 products:$150
Expected sales for a quantity of 1500 for Chair_Type_1 products:$150
Expected sales for a quantity of 1300 for Chair_Type_1 products:$150
Expected sales for a quantity of 1000 for Chair_Type_2 products:$100
Expected sales for a quantity of 1500 for Chair_Type_2 products:$100
Expected sales for a quantity of 1300 for Chair_Type_2 products:$100
Expected sales for a quantity of 1000 for Chair_Type_2 products:$120
Expected sales for a quantity of 1500 for Chair_Type_2 products:$120
Expected sales for a quantity of 1300 for Chair_Type_2 products:$120
Expected sales for a quantity of 1000 for Chair_Type_2 products:$135
Expected sales for a quantity of 1500 for Chair_Type_2 products:$135
Expected sales for a quantity of 1300 for Chair_Type_2 products:$135
Expected sales for a quantity of 1000 for Chair_Type_2 products:$150
Expected sales for a quantity of 1500 for Chair_Type_2 products:$150
Expected sales for a quantity of 1300 for Chair_Type_2 products:$150
Expected sales for a quantity of 1000 for Chair_Type_3 products:$100
Expected sales for a quantity of 1500 for Chair_Type_3 products:$100
Expected sales for a quantity of 1300 for Chair_Type_3 products:$100
Expected sales for a quantity of 1000 for Chair_Type_3 products:$120
Expected sales for a quantity of 1500 for Chair_Type_3 products:$120
Expected sales for a quantity of 1300 for Chair_Type_3 products:$120
Expected sales for a quantity of 1000 for Chair_Type_3 products:$135
Expected sales for a quantity of 1500 for Chair_Type_3 products:$135
Expected sales for a quantity of 1300 for Chair_Type_3 products:$135
Expected sales for a quantity of 1000 for Chair_Type_3 products:$150
Expected sales for a quantity of 1500 for Chair_Type_3 products:$150
Expected sales for a quantity of 1300 for Chair_Type_3 products:$150
Expected sales for a quantity of 1000 for Chair_Type_4 products:$100
Expected sales for a quantity of 1500 for Chair_Type_4 products:$100
Expected sales for a quantity of 1300 for Chair_Type_4 products:$100
Expected sales for a quantity of 1000 for Chair_Type_4 products:$120
Expected sales for a quantity of 1500 for Chair_Type_4 products:$120
Expected sales for a quantity of 1300 for Chair_Type_4 products:$120
Expected sales for a quantity of 1000 for Chair_Type_4 products:$135
Expected sales for a quantity of 1500 for Chair_Type_4 products:$135
Expected sales for a quantity of 1300 for Chair_Type_4 products:$135
Expected sales for a quantity of 1000 for Chair_Type_4 products:$150
Expected sales for a quantity of 1500 for Chair_Type_4 products:$150
Expected sales for a quantity of 1300 for Chair_Type_4 products:$150

## List Comprehensions

Execute the code cell below to create the following three lists: **products_on_sale**, **sale_prices**, **quantities**

In [ ]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]

The following code cell will execute a nested loop that will deliver all possible combinations of the elements from the **products_on_sale**, **sale_prices** and **quantities** lists:

In [ ]:
for chair_type in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
            print ([chair_type, price*quantity])

Use a list comprehension to obtain the same output. Store it in a variable called **sales_revenue**. <br/>
Make sure you refrain from obtaining any inexistent "None" values.

**List comprehensions with Conditionals**
<br> <br> **Conditional on the iterable**

Use a list comprehension to return a list with all even numbers between 1 and 10 inclusive, multiplied by 10.

We consider the previous answer as the Pythonic way to obtain the output because it involved the use of a list comprehension.
Can you think of a way to obtain identical output in the "Non-Pythonic" way, i.e. by using a double nested loop?

**Conditional on the output**

Return a list that contains the element from range(1, 11) multiplied by 10 if the number is even, and "None" if that number is odd.

## Anonymous Functions

Define a function called **multiply_by_10** that will return a value ten times bigger than the argument.

Apply **multiply_by_10** to the argument of 5. Clearly, you should obtain 50.

#### Lambda Functions

This time, create **multiply_by_10** as a Lambda funciton. Execute it with an argument of 7.

Define a Lambda function named **product_xy** that returns the product of two parameters, x and y. Execute it with arguments 4 and 20.

Create a Lambda function that returns the output of the following mathematical expression. Execute it with an argument of 3.
<br> $$
\frac{(135 - x^3)^4}{(1 + x)^5}
$$