<hr style="border:5px solid #108999">

# pandas DataFrames <hr style="border:4.5px solid #108999">

Import the pandas and numpy libraries by using the relevant well-known conventions.

In [1]:
import pandas as pd
import numpy as np

## A Revision to pandas DataFrames

The goal of this exercise is to solidify your knowledge and understanding of the fundamentals of using pandas DataFrames.

Execute the next code cell to create the array called **array_c**.

In [2]:
array_c = np.array([[1000, 50, 78.45], [700, 112, 35.5]])
array_c

array([[1000.  ,   50.  ,   78.45],
       [ 700.  ,  112.  ,   35.5 ]])

Convert **array_c** into a DataFrame, called **company_statistics**. Assign the column names and row labels from the following lists as column names and index of this DataFrame, respectively.

In [5]:
company_statistics = pd.DataFrame(array_c, columns=['No. of Employees', 'Avg. Annual Revenue ($)', 'Share price ($)'], index = ['Company A', 'Company B'])

In [6]:
print(company_statistics)

           No. of Employees  Avg. Annual Revenue ($)  Share price ($)
Company A            1000.0                     50.0            78.45
Company B             700.0                    112.0            35.50

Display the **company_statistics** DataFrame.

In [7]:
print(pd.DataFrame(company_statistics))

           No. of Employees  Avg. Annual Revenue ($)  Share price ($)
Company A            1000.0                     50.0            78.45
Company B             700.0                    112.0            35.50

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [8]:
data = pd.read_csv('../csv_files/Sales-products.csv')
sales_products_data = data.copy()

sales_products_data = pd.DataFrame(sales_products_data)

Verify that the obtained object is a pandas DataFrame.

In [9]:
type(sales_products_data)

pandas.core.frame.DataFrame

Try out a well-known pandas method used for Series on this DataFrame to obtain its last five rows.

In [10]:
sales_products_data.tail()

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
1271,SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
1272,SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
1273,SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
1274,SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
1275,SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

## Common Attributes for Working with DataFrames

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [22]:
sales_products_data = pd.read_csv('../csv_files/Sales-products.csv')

#sales_products_data = pd.DataFrame(sales_products_data)

Return the index of the **sales_products_data** DataFrame.

In [23]:
print(sales_products_data.index)

RangeIndex(start=0, stop=1276, step=1)

Verify that **sales_products_data** is a RangeIndex object in an alternative way by using the **type()** funciton.

In [25]:
type(sales_products_data.index)

pandas.core.indexes.range.RangeIndex

Retrieve and Index object containing all column names from the **sales_products_data** DataFrame.

In [26]:
sales_products_data.columns

Index(['SaleID', 'RetailerCountry', 'OrderMethod', 'RetailerType',
       'ProductLine', 'ProductType', 'Product', 'Year', 'Quarter', 'Revenue',
       'Quantity', 'GrossMargin'],
      dtype='object')

You are requested to create a new DataFrame, called **df**, whose data is obtained from the the names of the columns of **sales_products_data** DataFrame, while the column names are obtained from the **new_column_names** list.
<br/><br/> First, execute the next cell to create **new_column_names**, and then in the next cell try creating the **df** DataFrame yourself (by helping yourself with the newly created **new_column_names** list).
<br/><br/> *Note: There are two ways to achieve this - one would be through utilizing the* **columns** *parameter, and the other – with the help of the* **"columns"** *attribute. Choose whichever option you prefer (or why not try both!).*

In [27]:
new_column_names = ['SaleID', 'Country', 'OrderMethod', 'Retailer', 'Line',
       'Type', 'Product', 'YearOfSales', 'Quarter', 'Revenue', 'Quantity',
       'Margin']

In [38]:
df = pd.DataFrame(sales_products_data, columns = new_column_names)
print(df)

           SaleID  Country  OrderMethod  Retailer  Line  Type  \
0        SaleID_1      NaN          Fax       NaN   NaN   NaN
1        SaleID_2      NaN          Fax       NaN   NaN   NaN
2        SaleID_3      NaN          Fax       NaN   NaN   NaN
3        SaleID_4      NaN          Fax       NaN   NaN   NaN
4        SaleID_5      NaN          NaN       NaN   NaN   NaN
...           ...      ...          ...       ...   ...   ...
1271  SaleID_1272      NaN  Sales visit       NaN   NaN   NaN
1272  SaleID_1273      NaN  Sales visit       NaN   NaN   NaN
1273  SaleID_1274      NaN  Sales visit       NaN   NaN   NaN
1274  SaleID_1275      NaN  Sales visit       NaN   NaN   NaN
1275  SaleID_1276      NaN  Sales visit       NaN   NaN   NaN

                        Product  YearOfSales  Quarter   Revenue  Quantity  \
0     TrailChef Deluxe Cook Set          NaN  Q1 2018  59728.66     491.0
1        TrailChef Double Flame          NaN  Q1 2018  36050.32     254.0
2                     Star Dome          NaN  Q1 2018  90040.48     149.0
3                  Star Gazer 2          NaN  Q1 2018       NaN     305.0
4            Compact Relief Kit          NaN  Q1 2018       NaN     182.0
...                         ...          ...      ...       ...       ...
1271              Husky Rope 60          NaN  Q3 2020  30916.50     173.0
1272      Firefly Climbing Lamp          NaN  Q3 2020   7536.29     193.0
1273            Firefly Charger          NaN  Q3 2020  12306.48     238.0
1274                Granite Axe          NaN  Q3 2020  56499.00    1472.0
1275            Granite Extreme          NaN  Q3 2020  89427.00    1178.0

      Margin
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
1271     NaN
1272     NaN
1273     NaN
1274     NaN
1275     NaN

[1276 rows x 12 columns]

Display the "head" of the **df** DataFrame.

In [39]:
df.head()

,SaleID,Country,OrderMethod,Retailer,Line,Type,Product,YearOfSales,Quarter,Revenue,Quantity,Margin
0,SaleID_1,NaN,Fax,NaN,NaN,NaN,TrailChef Deluxe Cook Set,NaN,Q1 2018,59728.66,491.0,NaN
1,SaleID_2,NaN,Fax,NaN,NaN,NaN,TrailChef Double Flame,NaN,Q1 2018,36050.32,254.0,NaN
2,SaleID_3,NaN,Fax,NaN,NaN,NaN,Star Dome,NaN,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,NaN,Fax,NaN,NaN,NaN,Star Gazer 2,NaN,Q1 2018,NaN,305.0,NaN
4,SaleID_5,NaN,NaN,NaN,NaN,NaN,Compact Relief Kit,NaN,Q1 2018,NaN,182.0,NaN

Use an attribute to obtain the index and column names of **df** in a single output field.

In [45]:
df.index, df.columns
#instead of doing the above we can do:
df.axes

[RangeIndex(start=0, stop=1276, step=1),
 Index(['SaleID', 'Country', 'OrderMethod', 'Retailer', 'Line', 'Type',
        'Product', 'YearOfSales', 'Quarter', 'Revenue', 'Quantity', 'Margin'],
       dtype='object')]

Think of **sales_products_data**. Check the information along its axes as well. 
<br/> Compare the output to the one from the previous code cell - are the index and column names different?

In [46]:
sales_products_data.axes

[RangeIndex(start=0, stop=1276, step=1),
 Index(['SaleID', 'RetailerCountry', 'OrderMethod', 'RetailerType',
        'ProductLine', 'ProductType', 'Product', 'Year', 'Quarter', 'Revenue',
        'Quantity', 'GrossMargin'],
       dtype='object')]

Use Python indexing on the code from the previous cell as an alternative way  to obtain the index and column names of **sales_products_data** as separate output.
<br/><br/> *Hint: You may want to open parentheses before applying the required indexing syntax!*

In [49]:
sales_products_data.index
#or
(sales_products_data.axes)[0]

RangeIndex(start=0, stop=1276, step=1)

In [50]:
sales_products_data.columns
#or
(sales_products_data.axes)[1]

Index(['SaleID', 'RetailerCountry', 'OrderMethod', 'RetailerType',
       'ProductLine', 'ProductType', 'Product', 'Year', 'Quarter', 'Revenue',
       'Quantity', 'GrossMargin'],
      dtype='object')

Use an attribute to obtain metadata about the types of data stored in the different columns of the **sales_products_data** DataFrame.
<br><br> *Hint: If you've worked correctly, the obtained output will inform you that just 4 columns are containing numeric values.*

In [51]:
#we can check the metadata of our dataframe by doing dtype
sales_products_data.dtypes

SaleID              object
RetailerCountry     object
OrderMethod         object
RetailerType        object
ProductLine         object
ProductType         object
Product             object
Year               float64
Quarter             object
Revenue            float64
Quantity           float64
GrossMargin        float64
dtype: object

Obtain a Numpy array containing all values of the **sales_products_data**.
<br/><br/> *Note: There are two ways to achieve this - one would be to use an attribute, while the other - use a method! Try both, but keep in mind that pandas developers advise us to stick to using the method.*

In [52]:
array_a = np.array(sales_products_data)

In [59]:
array_a

sales_products_data.to_numpy()

array([['SaleID_1', 'United States', 'Fax', ..., 59728.66, 491.0,
        0.35754797],
       ['SaleID_2', 'United States', 'Fax', ..., 36050.32, 254.0,
        0.4842745],
       ['SaleID_3', 'United States', 'Fax', ..., 90040.48, 149.0, nan],
       ...,
       ['SaleID_1274', 'Spain', 'Sales visit', ..., 12306.48, 238.0,
        0.56842037],
       ['SaleID_1275', 'Spain', 'Sales visit', ..., 56499.0, 1472.0,
        0.49066667],
       ['SaleID_1276', 'Spain', 'Sales visit', ..., 89427.0, 1178.0,
        0.38689474]], dtype=object)

Verify that the obtained objects are NumPy arrays with the help of the "Type" function.

In [54]:
type(array_a)

numpy.ndarray

Obtain the number of rows and columns in the **sales_products_data** DataFrame.

In [60]:
sales_products_data.shape
#using shape will tell you the columna and row of an array

(1276, 12)

Check if the output obtained in the previous cell is a tuple.

In [62]:
type(sales_products_data.shape)

tuple

## Data Selection in pandas DataFrames

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [2]:
sales_products_data = pd.read_csv('../csv_files/Sales-products.csv')

Although we are not advised to, retrieve the data from the 'Product' column from the **sales_products_data** column *without* using the indexing operator **[ ]**.

In [3]:
sales_products_data.Product

0       TrailChef Deluxe Cook Set
1          TrailChef Double Flame
2                       Star Dome
3                    Star Gazer 2
4              Compact Relief Kit
                  ...
1271                Husky Rope 60
1272        Firefly Climbing Lamp
1273              Firefly Charger
1274                  Granite Axe
1275              Granite Extreme
Name: Product, Length: 1276, dtype: object

Retrieve the data from the 'Product' column from the **sales_products_data** column by using the indexing operator **[ ]**.

In [6]:
sales_products_data['Product']

0       TrailChef Deluxe Cook Set
1          TrailChef Double Flame
2                       Star Dome
3                    Star Gazer 2
4              Compact Relief Kit
                  ...
1271                Husky Rope 60
1272        Firefly Climbing Lamp
1273              Firefly Charger
1274                  Granite Axe
1275              Granite Extreme
Name: Product, Length: 1276, dtype: object

Apply the **.tail()** method to the code you used in your previous response to obtain the last five rows from the "Product" column.

In [7]:
sales_products_data.Product.tail()

1271            Husky Rope 60
1272    Firefly Climbing Lamp
1273          Firefly Charger
1274              Granite Axe
1275          Granite Extreme
Name: Product, dtype: object

Although we are not advised to, retrieve the data from the 'Quarter' column from the **sales_products_data** column *without* using the indexing operator **.[ ]**.

In [8]:
sales_products_data.Quarter

0       Q1 2018
1       Q1 2018
2       Q1 2018
3       Q1 2018
4       Q1 2018
         ...
1271    Q3 2020
1272    Q3 2020
1273    Q3 2020
1274    Q3 2020
1275    Q3 2020
Name: Quarter, Length: 1276, dtype: object

Retrieve the data from the 'Quarter' column from the **sales_products_data** column by using the indexing operator **[ ]**.

In [9]:
sales_products_data['Quarter']

0       Q1 2018
1       Q1 2018
2       Q1 2018
3       Q1 2018
4       Q1 2018
         ...
1271    Q3 2020
1272    Q3 2020
1273    Q3 2020
1274    Q3 2020
1275    Q3 2020
Name: Quarter, Length: 1276, dtype: object

Use any of the 4 previous examples to verify that the data obtained from a column of a DataFrame is actually stored in a Series object:

In [12]:
type(sales_products_data.Quarter.tail())

pandas.core.series.Series

<br> Use a well-know attribute and attribute chaining to obtain information about the type of data stored in the "Revenue" column.

In [11]:
sales_products_data.Revenue.dtype

dtype('float64')

**Selecting multiple columns from a DF**

Use a list with column names within the indexing operator ([ ]) to extract data from the 'Revenue' and 'Quantity' columns from the **sales_products_data** DataFrame. Use the **.head()** method to only display the top five rows of the selection.  <br>
Solve the problem by using a single line of code.

In [17]:
sales_products_data[['Quantity','Revenue']].head()

   Quantity   Revenue
0     491.0  59728.66
1     254.0  36050.32
2     149.0  90040.48
3     305.0       NaN
4     182.0       NaN

Can you think of a more elegant way to obtain the same result? This option is more often encountered in professional work since it improves the legibility of your code.

In [23]:
column = ['Quantity', 'Revenue']
sales_products_data[column].head()

   Quantity   Revenue
0     491.0  59728.66
1     254.0  36050.32
2     149.0  90040.48
3     305.0       NaN
4     182.0       NaN

## Data Selection - Indexing Data with .iloc[]

In [24]:
import pandas as pd

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [33]:
sales_products_data = pd.read_csv('../csv_files/Sales-products.csv')

Select the data from the first row from the **sales_products_data** DataFrame (don't forget that in programming we start counting from 0!).

In [35]:
sales_products_data.index[0, :]

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

Select the data from the penultimate row from the **sales_products_data** DataFrame.

Select the value from the second row and sixth column of **sales_products_data** by using the **.iloc[]** accessor.
<br><br> *Hint: If you've worked correctly, you should obtain 'Cooking Gear'.*

Although we are not advised to, can you think of an alternative syntax that you can use to obtain the same information? 
<br> *Hint: You still need to use the **.iloc[]** accessor!*
<br><br> *Note: We are asking you to try this syntax out to make sure you are in control of obtaining the desired portion of the data regardless of the object it has been contained into. The syntax and tools are similar, while their utilization may differ.*

Use the **.shape** attribute to discover the largest numbers that you can use as arguments of the **.iloc[]** accessor.

Considering the values you just obtained, use the **.iloc[]** accessor find out the value that has been stored in the last row and farthest-to-the-right column.

Verify that you've obtained the correct value by applying the **.tail()** method to the **sales_products_data** DataFrame.
<br> Observe the value that is farthest to the right on the last row.

Prove that **.iloc[]** can be applied to a Series object such as **sales_products_data['Product']** as well (e.g. by obtaining the first element from this column).
<br><br> *Note: We are asking you to try this syntax out to make sure you are in control of obtaining the desired portion of the data regardless of the object it has been contained into. The syntax and tools are similar, while their utilization may differ.*
<br> *This note applies to this and the next task.*

Although we are not advised to, when working with a Series object, we can obtain the same output without using the **.iloc[]** indexer and using "classical" Python indexing. Can you try that out?

## Data Selection - Indexing with .loc[]

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the 'SaleID' column as an index for this DataFrame throughout this exercise.*

Retrieve the values from the first row of the DataFrame by using the specified label-based index rather than the default numeric index.

By using the specified label-based index again, retrieve the information stored in the 'GrossMargin' column for the 4th sale.

Obtain a DataFrame containg the values stored in all columns for sales numbered 15, 235, and 1147 by using the **.loc[]** indexer.

With the help of the **.loc[]** indexer, select the last 5 records from the 'Year' column.

## A Few Comments on Using .loc[] and .iloc[]

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the 'SaleID' column as an index for this DataFrame throughout this exercise.*

Although we are not advised to, can you think of an alternative syntax that you can use to obtain the same information? 
<br> *Hint: You don't need to use the **.loc[]** indexer.*
<br><br> *Notes:* 
- *The syntax here differs from the syntax applied when we need the *.iloc[] indexer for a similar operation.*
- *We are asking you to try this syntax out to make sure you are in control of obtaining the desired portion of the data regardless of the object it has been contained into. The syntax and tools are similar, while their utilization may differ.*

Consider that you can obtain a Series object containing the values from the 'GrossMargin' column by executing the cell below.

With that in mind, although we are not advised to, can you think of a third alternative way to obtain the value of 0.28293788?

Use both the **.loc[]** and **.iloc[]** indexers to obtain the values from the 10th and 15th rows from column "OrderMethod" from the **sales_products_data** DataFrame.

Use the **.iloc[]** indexer to obtain a DataFrame composed of the 2nd and 3rd columns of **sales_products_data**.

In [7]:
def fib(n):
    a, b = 0, 1
    for _ in range(1, n):
        a, b = b, a + b
        yield a
fib_gen = fib(4)
print(fib_gen)

<generator object fib at 0x000002396C1874C0>

Use the **.loc[]** accessor to obtain a DataFrame composed of the records of **sales_products_data** for sales with ID 50 and 87.